:root {
    background-color: rgb(18,18,19);
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Outfit', sans-serif;
}

.header {
    display:flex;
    flex-wrap:nowrap;
    color: rgb(240,240,240);
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

.info {
    position: relative;
    left: 60px;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
    color: rgb(240,240,240);
}

.footer {
    display:flex;
    justify-content:end;
    align-items:flex-end;
    color: rgb(50,50,50);
}

.words {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: repeat(3, 75px);
    justify-content: center;
    row-gap: 50px;
}


button {
    font-size: 2em;
    color: rgb(200,200,200);
    background-color: rgb(18,18,19);
    border: 1px solid rgb(100,100,100);
    border-radius: 5px;
    height: 75px;
    width: 75px;
    padding: 0px;
}

@media (min-width: 768px) {
    button:hover {
        border: 5px solid rgb(3, 83, 3);
    }
}

button:active {
    background-color:rgb(100,100,100);
}

.letters {
    border: 3px solid blue;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 6%;
    justify-content: center;
}



.selected, .selected:hover {
    border: 5px solid rgb(70, 207, 70);
}

.static {
    color: red;
}

#submitButton {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.share, .share:hover, .share:active {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Outfit', sans-serif;
    background-color: green;
    color: rgb(240,240,240);
    border-radius: .75rem;
    display: flex;
    align-items: center;
    position: relative;
    left: 5%;
    height: auto;
    width: auto;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.shareLogo {
    width: 2rem;
    height: auto;
}


.correct {
    background-color: green;
}

/* CSS */
.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}

@media (max-width: 768px) {
    .letter {
        height: 50px;
        width: 50px;
    }

    button {
        height: 75px;
        width: 50px;
    }

    .word1, .word2, .word3 {
        margin-right:auto;
        margin-left:auto;
    }

    .words {
        row-gap: 35px;
    }

}

.modal {
    display: none;
    position: fixed;
    padding-top: 15%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    overflow: auto;
    left: 0;
    top: 0;
}

.modal-content {
    background-color: rgb(18,18,19);
    margin: auto;
    color: rgb(200,200,200);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    font-size: 1.5rem;
    border: 1px solid rgb(200,200,200);
}

#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  #close:hover, #close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .wonGame {
    /*background: -webkit-linear-gradient(160deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/

    background-color: rgb(22, 207, 19);
    border-radius: 10px;
    padding: 1rem;
  }

  .wonGame:hover, .wonGame:active {
    border: 3px solid rgb(173, 80, 4);
  }

  .wrong {
      color: red;
  }

  .right {
      color: green;
  }

  .almost {
      color:rgb(182, 117, 20);
  }

  .info {
      cursor: pointer;
  }

  .mini {
      font-size: 1.1rem;
  }
